header {
  height: 75px;
  background-color: #1e1b18;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding-inline: 50px;

  .logo {
    cursor: pointer;
  }

  img {
    height: 80%;
  }
  nav {
    ul {
      display: flex;
      flex-direction: row-reverse;
      gap: 37px;
      .link {
        cursor: pointer;
        background-color: transparent;
        color: #fffaff;
        border: none;
        border-bottom: 2px #8d8e8d solid;
        padding-bottom: 3px;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
          border-color: #fffaff;
        }

        .plus {
          font-weight: bold;
          color: #3e92cc;
        }
      }
    }
  }
}
