header {
  // height: 75px;
  background-color: #1e1b18;
  display: flex;
  justify-content: space-between;
  // flex-direction: row-reverse;
  align-items: center;
  padding: 5px 50px;
  @media (max-width: 600px) {
    padding: 5px 15px; /* or 0 if you want to remove it completely */
  }
  .logo {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  img {
    height: 80%;
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      margin: 0;
      // align-items: center;
      // flex-direction: row-reverse;
      gap: 17px;
      padding: 0;
      li {
        list-style: none;
        .link {
          cursor: pointer;
          background-color: transparent;
          color: #fffaff;
          border: none;
          // border-bottom: 2px #8d8e8d solid;
          padding-bottom: 3px;
          font-size: 1rem;
          text-decoration: none;

          display: flex;
          align-items: center;

          &:hover {
            border-color: #fffaff;
          }

          .plus {
            font-weight: bold;
            color: #3e92cc;
            margin-inline-start: 2px;
          }
        }
      }
    }
  }
}
