<section aria-label="momahidoun and their stories">
  <!-- Verified Stories -->
  @for (verifiedMomahidStory of verifiedStoriesToBeDisplayed; track
  verifiedMomahidStory.id) {
  <app-momahid-story
    [momahidStoryInfo]="verifiedMomahidStory"
  ></app-momahid-story>
  }

  <!-- Unverified Stories -->
  @for (unverifiedMomahidStory of unverifiedStoriesToBeDisplayed; track
  unverifiedMomahidStory.id) {
  <app-momahid-story
    [momahidStoryInfo]="unverifiedMomahidStory"
  ></app-momahid-story>
  }
</section>
