<div class="momahid-story">
  <div class="profile">
    <div class="picture">
      <img
        src="img/generic-img.jpg"
        alt="generic img"
        width="77"
        height="77\"
      />
    </div>
    <div class="info">
      <div class="name">يوسف العثماني</div>
      <div class="other-info">
        <div class="age">25 عام</div>
        <div class="dot">.</div>
        <div class="marriage-status">عازب</div>
        <div class="dot">.</div>
        <div class="country">المغرب</div>
        <div class="dot">.</div>
        <div class="work-or-study">أدرس</div>
      </div>
    </div>
  </div>
</div>
