<div class="momahid-story" #momahidStoryContainer>
  <div class="story-content" (click)="expandStory()" #storyContent>
    <div class="profile">
      <div class="picture">
        <img
          src="img/generic-img.jpg"
          alt="generic img"
          width="77"
          height="77\"
        />
        @if (momahidStoryInfo()?.isStoryVerified) {
        <span class="verification-status">
          <img
            src="icons/others/verified-icon.png"
            alt="icon for that indicate verified stories"
            width="20px"
            height="20px"
          />
        </span>
        } @else{
        <span class="verification-status">
          <!-- I had a problem in the UI -->
          <!-- I had to fix it with adding the verification flag
           and make it fully transparent as a temporary fix -->
          <img
            src="icons/others/verified-icon.png"
            alt="icon for that indicate verified stories"
            width="20px"
            height="20px"
            style="opacity: 0"
          />
        </span>
        }
      </div>
      <div class="info">
        <div class="name">{{ momahidStoryInfo()?.momahidName }}</div>
        <div class="other-info">
          <div class="age">{{ momahidStoryInfo()?.momahidAge }} عام</div>
          <div class="dot">.</div>
          <div class="marriage-status">{{ momahidMarriageStatus() }}</div>
          <div class="dot">.</div>
          <div class="country">{{ momahidStoryInfo()?.momahidCountry }}</div>
          <div class="dot">.</div>
          <div class="work-or-study">{{ momahidStudyOrWork() }}</div>
        </div>
      </div>
    </div>
    <div class="addiction-duration">
      <p class="duration">
        {{ momahidAddictionDurationDisplay() }}
      </p>
      <p class="starting-age">
        منذ أن كان عمري
        <span class="age-value">{{
          momahidStoryInfo()?.momahidAgeWhenFirstInteractWithPorn
        }}</span>
        عام
      </p>
    </div>
    <div class="momahid-record">
      <section aria-label="معلومات خاصة بحال الممهد عندما كان مدمنا">
        <h2>معلومات متعلقة بالإدمان</h2>
        <section aria-label="previous failed attempts">
          <h3>المحاولات الفاشلة السابقة</h3>
          <p>
            {{ momahidStoryInfo()?.previousFailedAttempts }}
          </p>
        </section>
        <section aria-label="life description during addiction">
          <h3>كيف كان حالي عندما كنت مدمنا</h3>
          <p>
            {{ momahidStoryInfo()?.lifeDuringAddiction }}
          </p>
        </section>
        <section aria-label="الأعراض الإنسحابية">
          <h3>الأعراض الإنسحابية</h3>
          <ul>
            @if (momahidStoryInfo()?.cravingToWatchPorn) {
            <li>رغبة ملحة في العودة للإباحية</li>
            } @if (momahidStoryInfo()?.sexWakingDreams) {
            <li>أحلام يقظة جنسية</li>
            } @if (momahidStoryInfo()?.pornScenesCrossMind) {
            <li>تذكر مشاهد اباحية سبق لك مشاهدتها واستثارتك بها</li>
            } @if(momahidStoryInfo()?.fastAnger){
            <li>غضب سريع</li>
            } @if(momahidStoryInfo()?.exaggeratedSensitivity){
            <li>
              حساسية مبالغ فيها تجاه أمور بسيطة وحقيرة، كلمة من أحد مثلا قد لا
              يقصد بها أي شيئ
            </li>
            } @if (momahidStoryInfo()?.laziness) {
            <li>كسل حادّ</li>
            }@if (momahidStoryInfo()?.overeating) {
            <li>شراهة كبيرة للطعام، وعدم القدرة على التوقف عن الأكل</li>
            } @if (momahidStoryInfo()?.delirium) {
            <li>
              الهذيان: أفكار --بكل أنواعها-- لا أستطيع دفعها ولا تغييرها ولا
              التخلص منها، تشغل تفكيري، ويصبح التركيز امرا غير ممكن
            </li>
            } @for (symptom of momahidStoryInfo()?.additionalWithdrawalSymptoms;
            track $index) { @if (symptom !== '') {
            <li>{{ symptom }}</li>

            } }
          </ul>
        </section>
      </section>
      <section aria-label="التوبة: مرحلة ما بعد الإدمان">
        <h2>التوبة: مرحلة ما بعد الإدمان</h2>
        <h3>كيف أصبح حالي بعد التوبة</h3>
        <p>
          {{ momahidStoryInfo()?.lifeAfterTrueTawbah }}
        </p>
        <h3>عبادات وطاعات ساعدت على تعافي قلبي</h3>
        <p>
          {{ momahidStoryInfo()?.majorWorshipsThatHealedTheHeart }}
        </p>
        <h3>أسوأ الذنوب التي كان لها ضرر كبير على قلبي سابقا</h3>
        <p>
          {{ momahidStoryInfo()?.majorSinsThatPoisonedTheHeart }}
        </p>
      </section>
      <section aria-label="رسالة للشباب المدمنين">
        <h2>رسالة للشباب المدمنين</h2>
        <p>
          {{ momahidStoryInfo()?.messageForMomahidBrother }}
        </p>
      </section>
      <section aria-label="أمور إضافية">
        <h2>معلومات جانبية</h2>
        <h3>كيف عرفت الإباحية</h3>
        <p>
          {{ momahidStoryInfo()?.momahidPornDiscovery }}
        </p>
        <h3>طبيعة عملي\دراستي</h3>
        <p>
          {{ momahidStoryInfo()?.momahidTypeOfWorkStudy }}
        </p>
      </section>
    </div>
  </div>

  <div class="btn-container" #expandingBtnContainer>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="expandStory()"
    >
      إقرأ الباقي
    </button>
  </div>
</div>
