<div class="momahid-story">
  <div class="profile">
    <div class="picture">
      <img
        src="img/generic-img.jpg"
        alt="generic img"
        width="77"
        height="77\"
      />
    </div>
    <div class="info">
      <div class="name">يوسف العثماني</div>
      <div class="other-info">
        <div class="age">25 عام</div>
        <div class="dot">.</div>
        <div class="marriage-status">عازب</div>
        <div class="dot">.</div>
        <div class="country">المغرب</div>
        <div class="dot">.</div>
        <div class="work-or-study">أدرس</div>
      </div>
    </div>
  </div>
  <div class="addiction-duration">
    <p class="duration">9 سـنـوات من الإدمــان</p>
    <p class="starting-age">
      منذ أن كان عمري <span class="age-value">15</span> عام
    </p>
  </div>

  <div class="momahid-record">
    <section aria-label="معلومات خاصة بحال الممهد عندما كان مدمنا">
      <h2>معلومات متعلقة بالإدمان</h2>

      <section aria-label="previous failed attempts">
        <h3>المحاولات الفاشلة السابقة</h3>
        <p>
          هذا النص هو مجرد مثال لاستخدامه في تصاميم الصفحات أو نماذج العرض، حيث
          يُستخدم لملء المساحة بالنص العربي دون الاعتماد على محتوى فعلي. يمكن
          تعديل هذا النص لاحقًا بما يتناسب مع الغرض الحقيقي من الصفحة أو
          التطبيق، ويُساعد في تصور الشكل النهائي قبل إدخال المحتوى الأصلي.
        </p>
      </section>
      <section aria-label="life description during addiction">
        <h3>كيف كان حالي عندما كنت مدمنا</h3>
        <p>
          هذا النص هو مجرد مثال لاستخدامه في تصاميم الصفحات أو نماذج العرض، حيث
          يُستخدم لملء المساحة بالنص العربي دون الاعتماد على محتوى فعلي. يمكن
          تعديل هذا النص لاحقًا بما يتناسب مع الغرض الحقيقي من الصفحة أو
          التطبيق، ويُساعد في تصور الشكل النهائي قبل إدخال المحتوى الأصلي.
        </p>
      </section>
      <section aria-label="الأعراض الإنسحابية">
        <h3>الأعراض الإنسحابية</h3>
        <ul>
          <li>تعب</li>
          <li>عياء</li>
          <li>افكار سيئة</li>
          <li>إفراط في النوم</li>
          <li>إفراط في الأكل</li>
          <li>غضب سريع</li>
          <li>أمور أخرى</li>
        </ul>
      </section>
    </section>

    <section aria-label="التوبة: مرحلة ما بعد الإدمان">
      <h2>التوبة: مرحلة ما بعد الإدمان</h2>

      <h3>كيف أصبح حالي بعد التوبة</h3>
      <p>
        هذا النص هو مجرد مثال لاستخدامه في تصاميم الصفحات أو نماذج العرض، حيث
        يُستخدم لملء المساحة بالنص العربي دون الاعتماد على محتوى فعلي. يمكن
        تعديل هذا النص لاحقًا بما يتناسب مع الغرض الحقيقي من الصفحة أو التطبيق،
        ويُساعد في تصور الشكل النهائي قبل إدخال المحتوى الأصلي.
      </p>

      <h3>عبادات وطاعات ساعدت على تعافي قلبي</h3>
      <p>
        هذا النص هو مجرد مثال لاستخدامه في تصاميم الصفحات أو نماذج العرض، حيث
        يُستخدم لملء المساحة بالنص العربي دون الاعتماد على محتوى فعلي. يمكن
        تعديل هذا النص لاحقًا بما يتناسب مع الغرض الحقيقي من الصفحة أو التطبيق،
        ويُساعد في تصور الشكل النهائي قبل إدخال المحتوى الأصلي.
      </p>

      <h3>أسوأ الذنوب التي كان لها ضرر كبير على قلبي سابقا</h3>
      <p>
        هذا النص هو مجرد مثال لاستخدامه في تصاميم الصفحات أو نماذج العرض، حيث
        يُستخدم لملء المساحة بالنص العربي دون الاعتماد على محتوى فعلي. يمكن
        تعديل هذا النص لاحقًا بما يتناسب مع الغرض الحقيقي من الصفحة أو التطبيق،
        ويُساعد في تصور الشكل النهائي قبل إدخال المحتوى الأصلي.
      </p>
    </section>

    <section aria-label="رسالة للشباب المدمنين">
      <h2>رسالة للشباب المدمنين</h2>
      <p>
        هذا النص هو مجرد مثال لاستخدامه في تصاميم الصفحات أو نماذج العرض، حيث
        يُستخدم لملء المساحة بالنص العربي دون الاعتماد على محتوى فعلي. يمكن
        تعديل هذا النص لاحقًا بما يتناسب مع الغرض الحقيقي من الصفحة أو التطبيق،
        ويُساعد في تصور الشكل النهائي قبل إدخال المحتوى الأصلي.
      </p>
    </section>

    <section aria-label="أمور إضافية">
      <h2>معلومات جانبية</h2>

      <h3>كيف عرفت الإباحية</h3>
      <p>
        هذا النص هو مجرد مثال لاستخدامه في تصاميم الصفحات أو نماذج العرض، حيث
      </p>
      <h3>طبيعة عملي\دراستي</h3>
      <p>
        هذا النص هو مجرد مثال لاستخدامه في تصاميم الصفحات أو نماذج العرض، حيث
        يُستخدم لملء المساحة بالنص العربي دون الاعتماد على محتوى فعلي. يمكن
        تعديل هذا النص لاحقًا بما يتناسب مع الغرض الحقيقي من الصفحة أو التطبيق،
        ويُساعد في تصور الشكل النهائي قبل إدخال المحتوى الأصلي.
      </p>
    </section>
  </div>
</div>
