.story-box {
  background-color: #fffaff;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 77vh;
  border-radius: 17px;
  box-shadow: 0 0 13px 4px #0000003f;

  .nav-helper-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 129px;
    background-color: #1e1b18;
    color: #fffaff;
    border-radius: 17px 17px 0 0;

    .title {
      font-size: 1.2rem;
      font-weight: 100;
      border-bottom: #fffaff98 solid 2px;
      padding: 3px;
      margin: 0;
      flex: 0;
    }

    .identity {
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4px;
      // flex: 1;

      img {
        height: 70px;
        border-radius: 100%;
      }

      .status {
        font-size: 11px;
        border-radius: 3px;
        position: relative;
        bottom: 12px;
        background-color: #c2f8cb;
        color: #329408;
        padding: 0 9px;
      }
    }
  }

  .story-feed {
    flex: 1;
  }
}
