<section lang="ar" class="momahidoun-box" aria-label="momahidoun section">
  <section class="nav-helper-bar" aria-label="nav-helper-bar">
    <h2 class="title">{{ title() }}</h2>
    <section class="filter" aria-label="momahidoun filter">filter</section>
  </section>
  <section class="momahidoun-feed" aria-label="momahidoun feed">
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
    <app-momahid-card></app-momahid-card>
  </section>
</section>
