.new-symptom-btn-container {
  margin-top: 7px;
}
.submit-btn-container {
  display: flex;
  justify-content: center;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-weight: bold;
}

// Add space between form-tiny-sections
// Tiny-sections are : label-input group, or fieldset
.momahid-residence-country,
fieldset,
.form-input {
  margin-bottom: 21px;
}

.wide-text-area {
  display: flex;
  gap: 2px;
  // align-items: center;

  button {
    border-radius: 3px;
    background-color: #fff;
  }
}

// let us see
.momahid-residence-country label {
  margin-bottom: 7px;
}

::ng-deep .ng-select .ng-dropdown-panel {
  background-color: #fff;
  border: 2px solid #ced4da;
  padding: 11px;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 37px;
  // box-shadow: 0 0 8px 0px #000000;
}
