.new-symptom-btn-container {
  margin-top: 7px;
}
.submit-btn-container {
  display: flex;
  justify-content: center;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-weight: bold;
}

// Add space between form-tiny-sections
// Tiny-sections are : label-input group, or fieldset
.momahid-residence-country,
fieldset,
.form-input {
  margin-bottom: 21px;
}

.wide-text-area {
  display: flex;
  gap: 2px;
  // align-items: center;

  button {
    border-radius: 3px;
    background-color: #fff;
  }
}
