<form lang="ar" [formGroup]="momahidForm" action="">
  <!-- Momahid Name -->
  <div class="form-input">
    <label for="momahid-name">ما هو إسمك الكامل؟ (قم بكتابة إسمك الأول فقط إن لم ترد أن تُعرف)</label>
    <input type="text" id="momahid-name" formControlName="momahidName" />
  </div>

  <!-- Momahid Age -->
  <div class="form-input">
    <label for="momahid-age">كم يبلغ عمرك؟</label>
    <input type="number" id="momahid-age" formControlName="momahidAge" />
  </div>

  <!-- Momahid Marriage Status -->
  <div class="form-input">
    <fieldset>
      <legend>هل أنت متزوج؟</legend>

      <div>
        <input
          type="radio"
          formControlName="isMomahidMarried"
          id="married-momahid"
          [value]="true"
        />
        <label for="married-momahid">أجل، أنا متزوج</label>
      </div>

      <div>
        <input
          type="radio"
          formControlName="isMomahidMarried"
          id="single-momahid"
          [value]="false"
        />
        <label for="single-momahid">لا، أنا عازب</label>
      </div>
    </fieldset>
  </div>

  <!-- Momahid Work/Study status -->
  <div class="form-input">
    <fieldset>
      <legend>هل أنت تدرس أم تشتغل؟</legend>

      <div>
        <input
          type="radio"
          formControlName="isMomahidStudy"
          id="momahid-is-studying"
          [value]="true"
        />
        <label for="momahid-is-studying">أنا أدرس</label>
      </div>

      <div>
        <input
          type="radio"
          formControlName="isMomahidStudy"
          id="momahid-is-working"
          [value]="false"
        />
        <label for="momahid-is-working">أنا أشتغل</label>
      </div>
    </fieldset>
  </div>

  <!-- Momahid Country of Residence -->
  <label for="country-of-residence">ما هو البلد الذي تقيم فيه حاليا؟</label>
  <ng-select
    id="country-of-residence"
    formControlName="momahidCountry"
    [items]="arWorldCountries"
    bindLabel=""
    placeholder="اختر دولة إقامتك"
    [searchable]="true"
    class="form-select"
  >
  </ng-select>

  <!-- Momahid Nature/type of work or Study -->
  <div class="form-input">
    <label for="nature-of-work">ما هي طبيعة دراستك\عملك ؟</label>
    <textarea
      formControlName="momahidTypeOfWorkStudy"
      id="nature-of-work"
      placeholder="أدرس في الثانوية … تدرس البرمجة في الجامعة … تدرس الطب في الجامعة … تشتغل في التجارة … تشتغل سائق شاحنة"
    ></textarea>
  </div>
  <hr />

  <!-- First Porn Interaction Age -->
  <div class="form-input">
    <label for="momahid-age-first-interaction">
      كم كان عمرك عند أول اتصال بالإباحية ؟
    </label>
    <input
      type="number"
      id="momahid-age-first-interaction"
      formControlName="momahidAgeWhenFirstInteractWithPorn"
    />
  </div>

  <!-- Addiction Duration -->
  <div class="form-input">
    <label for="addition-duration">كم بلغت مدت إدمانك ؟</label>
    <input
      type="number"
      formControlName="momahidAddictionDuration"
      id="momahid-addition-duration"
      placeholder="هل أنت مدمن على المقاطع الاباحية لسنة أم سنتين أم سبع سنوات أم كم؟"
    />
  </div>

  <!-- How did Momahid find out about porn -->
  <div class="form-input">
    <label for="porn-discovery">
      كيف عرفت الإباحية؟، هل كان الأمر صدفة أم أخبرك أحد ما، أم عرفتها بطريقة
      أخرى
    </label>
    <textarea
      formControlName="momahidPornDiscovery"
      id="porn-discovery"
      placeholder="مثلا: عرّفني على الإباحية زميل بالمدرسة"
    ></textarea>
  </div>
  <hr />

  <!-- Major previous steps Momahid have taken to quit porn -->
  <div class="form-input">
    <label for="previous-failed-attempts">
      هلاّ ذكرت بعض أهم محاولاتك السابقة في التخلص من ادمان الإباحية؟
    </label>
    <textarea
      formControlName="previousFailedAttempts"
      id="previous-failed-attempts"
    ></textarea>
  </div>

  <!-- Momahid Life description when he was addicted to porn -->
  <div class="form-input">
    <label for="life-during-addiction">
      هل بإمكانك أن تصف حالك ووضعك عندما كنت مدمنا على الإباحية، كيف كانت حياتك
      ؟
    </label>
    <textarea
      formControlName="lifeDuringAddiction"
      id="life-during-addiction"
    ></textarea>
  </div>

  <!-- withdrawal symptoms -->
  <fieldset>
    <legend>
      ما هي أبرز الأعراض الإنسحابية التي عانيت منها عندما كنت تبتعد عن الإباحية
      في محاولاتك السابقة
    </legend>
    <!-- Craving -->
    <div>
      <input
        type="checkbox"
        formControlName="cravingToWatchPorn"
        id="craving-to-watch-porn"
      />
      <label for="craving-to-watch-porn">رغبة ملحة في العودة للإباحية</label>
    </div>

    <div>
      <input
        type="checkbox"
        formControlName="sexWakingDreams"
        id="sex-waking-dreams"
      />
      <label for="sex-waking-dreams">أحلام يقضة جنسية</label>
    </div>

    <div>
      <input
        type="checkbox"
        formControlName="pornScenesCrossMind"
        id="porn-scenes-cross-mind"
      />
      <label for="porn-scenes-cross-mind">
        تذكر مشاهد اباحية سبق لك مشاهدتها واستثارتك بها
      </label>
    </div>

    <br />

    <div>
      <input type="checkbox" formControlName="fastAnger" id="fast-anger" />
      <label for="fast-anger">غضب سريع</label>
    </div>

    <div>
      <input
        type="checkbox"
        formControlName="exaggeratedSensitivity"
        id="exaggerated-sensitivity"
      />
      <label for="exaggerated-sensitivity">
        حساسية مبالغ فيها تجاه أمور بسيطة وحقيرة، كلمة من أحد مثلا قد لا يقصد
        بها أي شيئ
      </label>
    </div>

    <br />

    <div>
      <input type="checkbox" formControlName="laziness" id="laziness" />
      <label for="laziness">كسل حادّ</label>
    </div>

    <br />

    <div>
      <input type="checkbox" formControlName="delirium" id="delirium" />
      <label for="delirium">
        الهذيان: أفكار --بكل أنواعها-- لا تستطيع دفعها ولا تغييرها ولا التخلص
        منها، تشغل تفكيرك، ويصبح التركير امرا غير ممكن
      </label>
    </div>

    <!-- Give the momahid the ability to add additional withdrawal symptoms -->
    <div formArrayName="additionalWithdrawalSymptoms">
      @for (withdrawalSymptom of additionalWithdrawalSymptoms.controls; track
      $index; let i = $index) {
      <div class="wide-text-area">
        <textarea
          lang="ar"
          [formControlName]="i"
          placeholder="أكتب العَرَض الإنسحابي"
        ></textarea>
        <button
          class="removing-new-withdrawal-btn"
          type="button"
          (click)="removeWithdrawalSymptom(i)"
        >
          <img
            src="icons/others/delete-icon.png"
            alt="rubbish bin icon"
            width="30px"
            height="30px"
          />
        </button>
      </div>
      }
      <div>
        <button type="button" (click)="addWithdrawalSymptom()">
          <span dir="rtl">+</span> أضف عرضا إنسحابيا آخر
        </button>
      </div>
    </div>
  </fieldset>

  <hr />

  <!-- Momahid life description after Tawbah -->
  <div class="form-input">
    <label for="life-after-true-tawbah">
      هلّا وصفت حالك بعد التوبة النصوح، كيف صارت حياتك ؟
    </label>
    <textarea
      formControlName="lifeAfterTrueTawbah"
      id="life-after-true-tawbah"
    ></textarea>
  </div>

  <!-- What Are the major worships that helped the most in healing Momahid heart -->
  <div class="form-input">
    <label for="major-worships-for-heart-recovery">
      ما هي أهم الطاعات والعبادات التي شعرت أنها كانت لها سببا كبيرا في تعافي
      قلبك ؟
    </label>
    <textarea
      formControlName="majorWorshipsThatHealedTheHeart"
      id="major-worships-for-heart-recovery"
    ></textarea>
  </div>

  <!-- The major sins that was poisoning the Momahid Heart in the past -->
  <div class="form-input">
    <label for="previous-deadly-sins">
      ما هي الذنوب التي كنت تسقط فيها كثيرا، والتي ترجح أنها كانت السبب وراء
      تسمم قلبك فيما مضى، ولعلك لم تكن منتبها لها ؟
    </label>
    <textarea
      formControlName="majorSinsThatPoisonedTheHeart"
      id="major-sins-that-poisoned-the-heart"
    >
    </textarea>
  </div>

  <!-- Momahid message to his Muslims Brothers -->
  <div class="form-input">
    <label for="message-for-momahid-brothers">
      هل هناك أمر آخر ترغب في إضافته؟؛ ملاحظة، نصيحة .. أو أي شيئ قد يكون مفيدا
      للشباب أن يطّلعوا عليه
    </label>
    <textarea
      formControlName="messageForMomahidBrother"
      id="message-for-momahid-brothers"
    ></textarea>
  </div>

  <!-- Submit Button -->
  <div>
    <button type="submit" (click)="submitMomahidRequest()">
      أرسل طلب الإنضمام للممهّدين
    </button>
  </div>
</form>
